<div class="bg-[#dddfdf]  rounded-full h-12 ">
    <ul class="flex space-x-5 h-12 items-center justify-center">
        <li class="space-x-2 ">
            <i class="fa-solid fa-house "></i>
            <a routerLink="/dashboard" > Dashboard</a>
        </li>
        <li class="space-x-2">
            <i class="fa-solid fa-magnifying-glass-chart"></i>
            <a routerLink="/analyse">AI Analysis</a>
        </li>
        <li class="space-x-2">
            <i class="fa-solid fa-users"></i>
            <a routerLink="/candidature">Candidate</a>
        </li>
        <li class="space-x-2">
            <i class="fa-solid fa-code-compare"></i>
            <a routerLink="/comparaison">Comparison</a>
        </li>
        <li class="space-x-2">
            <i class="fa-solid fa-clipboard-question"></i>
            <a routerLink="/entretien">Interview</a> <!-- Correction ici -->
        </li>
        <li class="space-x-2">
            <i class="fa-solid fa-file-waveform"></i>
            <a routerLink="/historique">Report</a>
        </li>
    </ul>
</div>
