<div class="space-x-3 flex justify-end">
    <a href="#" class="bg-[#dddfdf] p-2 rounded-full h-8 w-8 flex justify-center items-center">
        <i class="fa-solid fa-magnifying-glass"></i>
    </a>
    
    <a href="#" class="bg-[#dddfdf] p-2 rounded-full h-8 w-8 flex justify-center items-center">
        <i class="fa-solid fa-bell"></i>
    </a>
    <a href="#" class="bg-[#dddfdf] p-2 rounded-full h-8 w-8 flex justify-center items-center">
        <i class="fa-solid fa-user"></i>
    </a>
</div>
