<div class="flex">
    <div class="w-[50%] mb-5">
        <h1 class="text-xl  text-black font-bold">Nos Offres d'Emploi</h1>
        <p class="text-xs mt-2 leading-[1.75] word-spacing-wider tracking-widest">Opportunités d'Emploi Actuelles 🚀 <br>
            Postulez facilement grâce à notre assistant IA qui optimise votre candidature.
        </p>
        <p></p>
    </div>
    <div class="w-[50%] flex justify-end space-x-4">
        <div>
            <a href="#" class="bg-[#dddfdf] space-x-2 rounded-full p-1 w-28  h-8 flex items-center justify-center ">
                <span class="text-xs">Monthly</span>
                <i  class="fa-solid text-xs fa-chevron-down"></i>
            </a>
        </div>
        <div>
            <a href="#" class="bg-[#dddfdf] space-x-2 rounded-full p-1 w-28  h-8 flex items-center justify-center ">
                <i class="fa-solid fa-download"></i>
                <span class="text-xs">Export</span>
            </a>
        </div>
        <div>
            <a href="#" class="bg-[#dddfdf] space-x-2 rounded-full p-1 w-28  h-8 flex items-center justify-center ">
                <i class="fa-solid fa-filter"></i>
                <span class="text-xs">Filter</span>
            </a>
        </div>
    </div>
</div>


<div class="flex">

    <div class="w-[80%] mt-2 ">
        <div class="flex space-x-10 relative " >
            <div class="flex items-center">
                <a href="#">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                </a>
            </div>
            <div>
                <img  class="w-[265px] opacity-75" src="../images/forme2.png" alt="forme 2">
                <a href="#" class="bg-white opacity-75 p-2 rounded-full absolute left-[285px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5 "></i>
                </a>
            </div>
            <div>
                <img  class="w-[265px] opacity-75" src="../images/forme1.png" alt="forme 1">
                <a href="#" class="bg-white opacity-75 p-2 rounded-full absolute left-[590px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5"></i>
                </a>
            </div>
            <div>
                <img  class="w-[265px] opacity-75" src="../images/forme1.png" alt="forme 1-1">
                <a href="#" class="bg-white opacity-75 p-2 rounded-full absolute left-[895px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5"></i>
                </a>
            </div>
            
            <div class="flex items-center">
                <a href="#">
                    <i class="fa-solid fa-circle-arrow-right"></i>
                </a>
            </div>
        </div>
        
    
        <div class="flex space-x-10 mt-10 relative" >
            <div class="flex items-center">
                <a href="#">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                </a>
            </div>
            <div>
                <img  class="w-[265px] opacity-75" src="../images/forme2.png" alt="forme 2">
                <a href="#" class="bg-white p-2 opacity-75 rounded-full absolute left-[285px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5"></i>
                </a>
            </div>
            <div>
                <img  class="w-[265px] opacity-75" src="../images/forme1.png" alt="forme 1">
                <a href="#" class="bg-white p-2 opacity-75 rounded-full absolute left-[590px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5"></i>
                </a>
            </div>
            <div>
                <img  class="w-[265px] opacity-75" src="../images/forme1.png" alt="forme 1-1">
                <a href="#" class="bg-white p-2 opacity-75 rounded-full absolute left-[895px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5"></i>
                </a>
            </div>
            <div class="flex items-center">
                <a href="#">
                    <i class="fa-solid fa-circle-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="w-[20%]">
        <img class="h-[200px] mx-auto mb-3" src="../images/home.png" alt="home">
        <p class="text-xs text-justify leading-[1.75] word-spacing-wider tracking-widest"><span class="font-extrabold text-sm"> HR Assistant</span> est l’IA qui simplifie le recrutement en analysant les CV et en générant des questions d’entretien sur mesure.</p>
    </div>
</div>

