<div class="flex">
    <div class="w-[75%] mb-5">
        <h1 class="text-xl  text-black font-bold">Our Job Offers</h1>
        <p class="text-xs mt-2 leading-[1.75] word-spacing-wider tracking-widest">Job Opportunities 🎯 <br>
            Stay updated on current job openings and streamline recruitment with our AI assistant.
        </p>
        <p></p>
    </div>
    <div class="w-[75%] flex justify-end space-x-4">
        <div>
            <a href="#" class=" space-x-2 rounded-full p-1 w-5 bg-sky-700 hover:bg-sky-600 text-white  h-5 flex items-center justify-center ">
                <i class="  text-[10px] fa-solid fa-plus"></i>
            </a>
        </div>
        <div>
            <a href="#" class="bg-[#dddfdf] space-x-2 rounded-full p-1 w-23  h-5 flex items-center justify-center ">
                <span class="text-[10px]">Monthly</span>
                <i  class=" text-[10px] fa-solid text-xs fa-chevron-down"></i>
            </a>
        </div>
        <div>
            <a href="#" class="bg-[#dddfdf] space-x-2 rounded-full p-1 w-23  h-5 flex items-center justify-center ">
                <i class=" text-[10px] fa-solid fa-download"></i>
                <span class="text-[10px]">Export</span>
            </a>
        </div>
        <div>
            <a href="#" class="bg-[#dddfdf] space-x-2 rounded-full p-1 w-23  h-5 flex items-center justify-center ">
                <i class="fa-solid fa-filter text-[10px]"></i>
                <span class="text-[10px]">Filter</span>
            </a>
        </div>
    </div>
</div>


<div class="flex">

    <div class="w-[80%] mt-2 ">
        <div class="flex space-x-10 relative " >
            <div class="flex items-center" [ngClass]="changement === 'atteint-pre' ? ' opacity-35' : ''">
                <i (click)="previous()" class="fa-solid fa-circle-arrow-left cursor-pointer"></i>
            </div>
            <div >
                <img  class="w-[265px] opacity-75" src="../images/{{v1.image}}" alt="forme 2">
                <a href="#" class="bg-white opacity-75 p-2 rounded-full absolute left-[285px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5 "></i>
                </a>
            </div>
            <div>
                <img  class=" w-[265px] opacity-75" src="../images/{{v2.image}}" alt="forme 1">
                <a href="#" class="bg-white opacity-75 p-2 rounded-full absolute left-[590px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5"></i>
                </a>
            </div>
            <div>
                <img  class=" w-[265px] opacity-75" src="../images/{{v3.image}}" alt="forme 1-1">
                <a href="#" class="bg-white opacity-75 p-2 rounded-full absolute left-[895px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5"></i>
                </a>
            </div>
            
            <div class="flex items-center" [ngClass]="changement === 'atteint' ? ' opacity-35' : ''">
                <i (click)="next()" class="fa-solid fa-circle-arrow-right cursor-pointer"></i>
            </div>
        </div>
        
    
        <div class="flex space-x-10 mt-10 relative" >
            <div class="flex items-center">
                <a href="#">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                </a>
            </div>
            <div>
                <img  class="w-[265px] opacity-75" src="../images/8.png" alt="forme 2">
                <a href="#" class="bg-white p-2 opacity-75 rounded-full absolute left-[285px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5"></i>
                </a>
            </div>
            <div>
                <img  class="w-[265px] opacity-75" src="../images/0.png" alt="forme 1">
                <a href="#" class="bg-white p-2 opacity-75 rounded-full absolute left-[590px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5"></i>
                </a>
            </div>
            <div>
                <img  class="w-[265px] opacity-75" src="../images/10.png" alt="forme 1-1">
                <a href="#" class="bg-white p-2 opacity-75 rounded-full absolute left-[895px] top-[-2%] h-9 w-9 flex align-middle justify-center " >
                    <i class="fa-solid fa-arrow-up-right-from-square pt-0.5"></i>
                </a>
            </div>
            <div class="flex items-center">
                <a href="#">
                    <i class="fa-solid fa-circle-arrow-right opacity-35"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="w-[20%]">
        <img class="h-[200px] mx-auto mb-3" src="../images/home.png" alt="home">
        <p class="text-xs text-justify leading-[1.75] word-spacing-wider tracking-widest hyphens-auto"><span class="font-extrabold text-sm"> HR Assistant</span> is the AI that simplifies recruitment by analyzing resumes and generating tailored interview questions.</p>
    </div>
</div>

